/* .button {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 50%;
  top: 52%;
  transform: translate3D(-50%, 0, 0) scale(0.8);
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgb(138, 170, 229);
  z-index: 1;
  cursor: pointer;
}

.button::after {
  content: '';
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  border: 6px solid rgb(138, 170, 229);
  position: absolute;
  top: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  -webkit-animation: ring 1.5s infinite;
  animation: ring 1.5s infinite;
  animation-direction: reverse;
}

@keyframes ring {
  0% {
    width: 170px;
    height: 170px;
    opacity: 0;
  }
  100% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
} */

.button {
  --radius: 10px;
  --roundShape: calc(tan(60deg) * var(--radius)) bottom var(--radius), red 98%,
    #0000 101%;
  --maskValue: conic-gradient(
        from -30deg at 50% calc(200% - 3 * var(--radius) / 2),
        #000 60deg,
        #0000 0
      )
      0 100%/100% calc(100% - 3 * var(--radius) / 2) no-repeat,
    radial-gradient(
      var(--radius) at 50% calc(2 * var(--radius)),
      #000 98%,
      #0000 101%
    ),
    radial-gradient(var(--radius) at left var(--roundShape)),
    radial-gradient(var(--radius) at right var(--roundShape));

  position: absolute;
  padding: 0;
  top: 55%;
  left: 50.5%;
  outline: none;
  border: none;
  z-index: 1;
  background-color: rgb(138, 170, 229);
  width: 80px;
  aspect-ratio: 1 / cos(30deg);
  mask: var(--maskValue);
  -webkit-mask: var(--maskValue);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: translate(-50%, -50%) scale(0.8) rotate(90deg);
  cursor: pointer;
}

.button img {
  position: absolute;
  -webkit-user-drag: none;
  top: 55%;
  left: calc(50% - 27px);
  transform: translate(5px, -15px) rotate(30deg);
}
